---
import Layout from "../layouts/Layout.astro";
import LaboralExperience from "../components/LaboralExperience.astro";
import SkeletonCard from "../components/SkeletonCard.astro";
import Skills from "../components/Skills.astro";
import GitHubProjects from "../components/GitHubProjects.astro";
---

<Layout title="Portfolio - Frontend Web Developer">
	<link rel="stylesheet" href="css/css.css">
	<main
		class="m-auto grid gap-2 px-4 md:grid-cols-[minmax(100px,280px)_1fr] md:gap-3 md:max-w-6xl md:py-4"
	>
		<section
			class="px-3 py-2 flex flex-col items-center md:sticky md:top-0 md:h-fit"
		>
			<!-- Image Profile -->
			<div class="flex place-content-center py-2">
				<img
					class="w-full md:w-[60%] h-auto m-auto drop-shadow-[0px_0px_40px_#87daed15]"
					src="/imgs/icons/jacg.webp"
					alt="Jacg image profile"
					width="100"
					height="100"
				/>
			</div>
			<!-- Say -->
			<div class="py-2 mt-2">
				<h1 class="text-xl font-bold dark:text-white">
					Hola soy Joe Casa침as<span class="say__hi">游녦</span>
				</h1>
				<p class="py-2 dark:text-gray-50">
					Programador Web Frontend con +2 a침os de experiencia.
				</p>
			</div>
			<!-- Links -->
			<div class="py-2 flex items-center gap-2 flex-wrap">
				<a
					class="flex justify-between items-center gap-1 px-2 py-1 rounded-lg border border-indigo-700 hover:bg-indigo-600 hover:text-white dark:text-indigo-50 dark:border-indigo-700 dark:hover:bg-indigo-600 transition-all duration-150 group hover:shadow-sm hover:shadow-indigo-600/40"
					href="https://github.com/JACG33"
					target="_blank"
				>
					GitHub <svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="group-hover:-translate-y-[1px]"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
							d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
						></path></svg
					>
				</a>
			</div>
		</section>

		<section>
			<!-- About Me -->
			<section class="px-3 py-4">
				<h2 class="font-bold text-lg dark:text-white">Sobre mi</h2>
				<p class="py-2 dark:text-gray-50 text-pretty">
					Soy programador web Frontend, el dise침o de interfaces gr치ficas no es lo mio, pero tengo los conocimientos	suficientes para maquetar cualquier dise침o, adem치s del Frontend tambi칠n tengo conocimientos en Backend, por lo que puedo hacer/entender backend sin problemas.
				</p>
			</section>

			<!-- Laboral Expirience -->
			<section class="px-3 py-4">
				<h2 class="font-bold text-lg dark:text-white">Experiencia laboral</h2>

				<LaboralExperience
					place={"Gobernaci칩n del Estado Bol칤var"}
					date={"2022"}
					active
				>
					Participo como Frontend Developer en los diferentes proyectos que all칤 se realizan, aprendiendo y aplicando nuevos conocimientos para el desarrollo de los mismos.
				</LaboralExperience>
			</section>

			<!-- Skills -->
			<section class="px-3 py-4">
				<h2 class="font-bold text-lg dark:text-white">Habilidades</h2>
				<Skills />
			</section>

			<!-- Projects -->
			<section class="px-3 py-4">
				<h2 class="font-bold text-lg dark:text-white">Proyectos</h2>

				<div
					class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2"
					id="proyectos"
				>
					<SkeletonCard/>
					<SkeletonCard/>
				</div>
			</section>

			<!-- GitHub Projects -->
			<section class="px-3 py-4">
				<h2 class="font-bold text-lg dark:text-white">Proyectos GitHub</h2>
				<p class="dark:text-white py-2">
					Estos son algunos proyectos de practica.
				</p>
				<GitHubProjects />
			</section>
		</section>
	</main>
</Layout>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const { createClient } = supabase;
		const clientSupa = createClient(
			"https://rpslyimvndavsmyydcep.supabase.co",
			"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwc2x5aW12bmRhdnNteXlkY2VwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM5MjUwODcsImV4cCI6MjA0OTUwMTA4N30.YTHchne5R89VKb45UmeDZNGFMFcPEoFiEARFkBTHQe0",
		);

		const renderCard = ({ description, title, img, url }) => {
			const dynamicid = `popover${Math.ceil(Math.random() * 9999)}`;
			return `
						<div class="flex flex-col py-2 w-72 mx-auto">
						  <img
						    src="${img}"
						    alt="Pagina web Gobernaci칩n"
						    class="rounded-md my-2 w-full object-cover"
						    loading="lazy"
						  />
						  <div>
						    <h3 class="py-2 font-semibold dark:text-white">
						      ${title}
						    </h3>
						    <div class="py-2 flex justify-between items-center gap-2 flex-wrap">
						      <a
						        class="flex justify-between items-center gap-1 px-2 py-1 rounded-lg border border-indigo-700 hover:bg-indigo-600 hover:text-white dark:text-indigo-50 dark:border-indigo-700 dark:hover:bg-indigo-600 transition-all duration-150 group hover:shadow-sm hover:shadow-indigo-600/40"
						        href="${url}"
						        target="_blank"
						        >Visitar <svg
						          xmlns="http://www.w3.org/2000/svg"
						          width="24"
						          height="24"
						          viewBox="0 0 24 24"
						          fill="none"
						          stroke="currentColor"
						          stroke-width="2"
						          stroke-linecap="round"
						          stroke-linejoin="round"
						          class="group-hover:-translate-y-[1px]"
						          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
						            d="M17 7l-10 10"></path><path d="M8 7l9 0l0 9"></path></svg
						        ></a
						      >
						      <button
						        type="button"
						        title="Descripci칩n"
						        popovertarget="${dynamicid}"
						        class="flex justify-between items-center gap-1 px-2 py-1 rounded-lg border border-blue-700 hover:bg-blue-600 hover:text-white dark:text-blue-50 dark:border-blue-700 dark:hover:bg-blue-600 transition-all duration-150 group hover:shadow-sm hover:shadow-blue-600/40"
						      >
						        <svg
						          xmlns="http://www.w3.org/2000/svg"
						          width="24"
						          height="24"
						          viewBox="0 0 24 24"
						          fill="none"
						          stroke="currentColor"
						          stroke-width="2"
						          stroke-linecap="round"
						          stroke-linejoin="round"
						          class="icon icon-tabler icons-tabler-outline icon-tabler-dots"
						          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
						            d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
						            d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path
						            d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
						        >
						      </button>
						    </div>
						    <div popover id="${dynamicid}" class="dark:bg-gray-800 w-[90%] max-w-[430px] rounded-md shadow-lg backdrop:bg-gray-950/20">
						      <div class="flex justify-center items-center w-full p-2">
						        <p class="py-2 dark:text-gray-50 text-pretty">
						          ${description}
						        </p>
						      </div>
						    </div>
						  </div>
						</div>
					`;
		};

		const getData = async () => {
			try {
				const { data, error } = await clientSupa
					.from("projects")
					.select(`title,description,img,url`);

				let tmp = ``;
				data.map((d) => {
					tmp += renderCard({
						description: d.description,
						title: d.title,
						img: d.img,
						url: d.url,
					});
				});

				document.querySelector("#proyectos").innerHTML = tmp;
			} catch (e) {
				document.querySelector("#proyectos").innerHTML =
					"Ocurrio un error al cargar los proyectos";
			}
		};

		getData();
	});
</script>
